<footer>
    <div class="footer-content">
        <div class="footer-contact">
            <p>
                <img src="assets/icons/mail.svg" class="footer-icon" alt="Mail">
                <a href="mailto:elisabeth.gehdt@gmail.com">elisabeth.gehdt@gmail.com</a>
            </p>
            <p>
                <img src="assets/icons/phone.svg" class="footer-icon" alt="Telefon">
                <span data-i18n="footer_see_application" class="footer-info-text"></span>
            </p>
            <p>
                <img src="assets/icons/address.svg" class="footer-icon" alt="Adresse">
                <span data-i18n="footer_see_application" class="footer-info-text"></span>
            </p>
        </div>
        <p class="footer-credits" data-i18n="footer_end">Design & Entwicklung von Elisabeth Gehdt</p>
    </div>
</footer>