body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* volle Bildschirmhöhe */
    margin: 0;
}

main {
    flex: 1; /* nimmt den ganzen verfügbaren Platz ein */
}

footer {
    margin-top: auto;
}